.chart-series-line {
    -fx-stroke-width: 5px;
}

.default-color0.chart-series-line{
    -fx-stroke: #6a75ab;
}
.default-color0.chart-line-symbol{
    -fx-background-color: #6a75ab, #ffffff;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.chart{
    -fx-font-size: 20;
    -fx-font-family: "Avenir Next Demi Bold";
    -fx-border-width: 5px;
    -fx-border-color:  #262626;
    -fx-border-radius: 25px;
}

.default-color0.chart-line-symbol:hover{
    -fx-background-color: #5164c4, #5164c4;
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

.tooltip{
    -fx-background-radius: 15;
    -fx-background-color: #737373;
    -fx-opacity: 0.85;
    -fx-font-size: 20;
    -fx-font-family: "Avenir Next Demi Bold";
}

.default-color0.chart-bar{
    -fx-background-color: 'rgba(74, 112, 247, 0.5)';
    -fx-background-radius: 10px;
    -fx-border-width: 3px;
    -fx-border-radius: 9px;
    -fx-border-color:  #4a70f7;
}

