.menu-item:focused {
    -fx-background-color: rgb(127, 127, 127);
    -fx-background-radius: 25;
    -fx-cursor: hand;
}

.menu-item {
    -fx-pref-width: 187;
    -fx-padding: 15;
}

.context-menu {
    -fx-padding: 10;
    -fx-background-radius: 25;
    -fx-background-color: rgb(220, 220, 220);
    -fx-font-size: 20;
    -fx-font-family: "Avenir Next Demi Bold";
    -fx-opacity: 0.85;
}

.menu-button:hover{
    -fx-opacity: 0.9
}

.menu-button:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}