.button:hover{
    -fx-opacity: 0.9
}

.button:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

.button{
    -fx-cursor: hand;
}



.check-box .box {

    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:10px;
    -fx-background-radius: 10px;
}

.check-box:selected .mark {

    -fx-background-color: white;
}

.check-box:selected .box {

    -fx-background-color: #538eb8;
    -fx-border-color:#538eb8;
}

.check-box:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.9
}

.check-box:pressed{
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}



.rectangle{
    -fx-fill: #0000;
    -fx-stroke:  #262626;
    -fx-stroke-width: 5px;
    -fx-arc-height: 20px;
    -fx-arc-width: 20px;
}

.rectangle2{
    -fx-fill: 'rgba(74, 112, 247, 0.5)';
    -fx-stroke: #4a70f7;
    -fx-stroke-width: 3px;
    -fx-arc-height: 20px;
    -fx-arc-width: 20px;
}

.rectangle2:hover{
    -fx-fill: 'rgba(74, 112, 247, 0.75)';
}

.text-field:disabled{
    -fx-background-color: rgb(230, 230, 230, 128);
}




